{{! Copyright }}
<div id="copyright">
  <p>
    &copy; {{copyright_year}} {{copyright_owner}}.<br />
    Images: <a href="http://n33.co">n33</a>, <a href="http://fotogrph.com">Fotogrph</a>, <a href="http://iconify.it">Iconify.it</a>
    Design: <a href="http://html5up.net/">HTML5 Up!</a>
  </p>
</div>
