<head>
  <title>{{page_title}}</title>
  <style>
    nav, section {display:inline-block;}
    header, footer, article {display:block;}
    nav {
      border: 1px solid red;
      width: 24%;
      max-width: 150px;
/*      margin-right: 10px;*/
      font-size: 10px;
    }
    section#content {
      width: 74%;
      border: 1px solid red;
      font-size: 15px;
    }
  </style>
</head>
