{{#posts}}
{{>post_summary}}
{{/posts}}

{{! Pager }}
<div class="pager">
{{#previous_page}}
  <a href="{{previous_page}}" class="button previous">Previous Page</a>
{{/previous_page}}
  <div class="pages">
{{#pagination}}
{{#url}}
    <a href="{{url}}" class="{{#current}}active{{/current}}">{{num}}</a>
{{/url}}
{{^url}}
    <span>&hellip;</span>
{{/url}}
{{/pagination}}
  </div>
{{#next_page}}
  <a href="{{next_page}}" class="button next">Next Page</a>
{{/next_page}}
</div>
