<header>
{{!
  Note: Titles and bylines will wrap automatically when necessary, so don't worry
  if they get too long. You can also remove the "byline" span entirely if you don't
  need a byline.
}}
  <h2><a href="{{url}}">{{title}}</a></h2>
{{#author}}
  <span class="byline">{{author}}</span>
{{/author}}
</header>
